<div>
    <div class="text-center">
        @*<h1 class="text-info text-uppercase">MLB Blog</h1>*@
        <form id="mainForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetDailySchedule" class="form-group text-center">
            <input class="input-lg" id="date-input" type="date" name="gameDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <input id="daily-schedule" formmethod="post" formaction="Home/GetDailySchedule" type="submit" value="Schedule" class="btn btn-primary btn-lg btn-default" />
        </form>
    </div>
    <h2 class="h2 text-center text-info">ON TODAY - @DateTime.Today.ToString("dd/MM/yyyy")</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center">Game Type</th>
                <th scope="col" class="text-center">Home</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center">Away</th>
                <th scope="col" class="text-center">Game Date</th>
                <th scope="col" class="text-center">Game Time</th>
                <th scope="col" class="text-center">Game Result</th>
            </tr>
        </thead>
        <tbody id="main-body">

        </tbody>
    </table>
</div>

<script src="~/Scripts/Index.js"></script>

@section scripts{
    <script>
            $(document).ready(function () {
                $.ajax({
                    type: 'POST',
                    url: 'Home/GetGameList',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            console.log(item);
                            let logoHome = GetTeamLogos(item.Home);
                            let logoAway = GetTeamLogos(item.Away);
                            var rows =
                                "<tr>"
                                + "<td scope='row' class='text-center'>" + "<img src='/Content/Img/mlb_icon.png' style='width: 60px; height: 30px;'/>" + "</td>"
                                + "<td scope='row' class='text-center'>" + item.GameType + "</td>"
                                + "<td scope='row' class='text-center'>" + item.Home + "<img src='" + logoHome + "'" + "style='width: 20px; height: 20px; margin: 10px;' /> " + "</td>"
                                + "<td scope='row' class='text-center'>" + "X" + "</td>"
                                + "<td scope='row' class='text-center'>" + "<img src='" + logoAway + "'" + "style='width: 20px; height: 20px; margin: 10px;' /> " + item.Away + "</td>"
                                + "<td scope='row' class='text-center'>" + item.GameDate + "</td>"
                                + "<td scope='row' class='text-center'>" + item.GameTime + "</td>"
                                + "<td scope='row' class='text-center'>" + item.GameID + "</td>";

                            $('#main-body').append(rows);
                        });
                    },
                    error: function (ex) {
                        console.log("Deu erro " + ex.responseText);
                    }
                });

                function GetTeamLogos(key) {
                    let logoObject = {};
                    logoObject["ARI"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/109.svg";
                    logoObject["ATL"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/144.svg";
                    logoObject["BAL"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/110.svg";
                    logoObject["BOS"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/111.svg";
                    logoObject["CHC"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/112.svg";
                    logoObject["CHW"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/145.svg";
                    logoObject["CIN"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/113.svg";
                    logoObject["CLE"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/114.svg";
                    logoObject["COL"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/115.svg";
                    logoObject["DET"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/116.svg";
                    logoObject["HOU"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/117.svg";
                    logoObject["KC"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/118.svg";
                    logoObject["LAA"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/108.svg";
                    logoObject["LAD"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/119.svg";
                    logoObject["MIA"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/146.svg";
                    logoObject["MIL"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/158.svg";
                    logoObject["MIN"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/142.svg";
                    logoObject["NYM"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/121.svg";
                    logoObject["NYY"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/147.svg";
                    logoObject["OAK"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/133.svg";
                    logoObject["PHI"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/143.svg";
                    logoObject["PIT"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/134.svg";
                    logoObject["SD"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/135.svg";
                    logoObject["SF"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/137.svg";
                    logoObject["SEA"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/136.svg";
                    logoObject["STL"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/138.svg";
                    logoObject["TB"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/139.svg";
                    logoObject["TEX"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/140.svg";
                    logoObject["TOR"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/141.svg";
                    logoObject["WAS"] = "https://www.mlbstatic.com/team-logos/team-cap-on-light/120.svg";

                    if (key != "" || key != null || key != undefined) {
                        return logoObject[key];
                    }
                }
        });
    </script>
}